venv/
venv3/
mnexec
.cache/
*.log
*.pyc
*~
*.1
*.xcodeproj
*.xcworkspace
\#*\#
mininet.egg-info
build
dist
doc/html
doc/latex
trunk
.vagrant/
.idea
examples/uav/CoppeliaSim_Edu_V4_1_0_Ubuntu/*
*-telemetry.txt
ansible/install.retry
data/*
prometheus/*
mininet-wifi/
openflow/
